
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>PDF Raporları Sayfası</h1>

<a href="/PdfReport/StaticPdfReport" class="btn btn-primary">Statik PDF Raporu</a>
<br /><br />
<a href="/PdfReport/StaticCustomerPdfReport" class="btn btn-warning">Statik Misafir PDF Raporu</a>

