<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Admin Menüsü</span>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Admin Paneli</div>
        </a>
    </li>
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Admin İşlemleri</span>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destination/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-take-off"></i>
            <div data-i18n="Analytics">Rotalar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/User/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-male"></i>
            <div data-i18n="Analytics">Misafiler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-chat"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user"></i>
            <div data-i18n="Analytics">Rehberlerimiz</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-restaurant"></i>
            <div data-i18n="Analytics">Rezervasyonlar</div>
        </a>
    </li>
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Diğer İşlemler</span>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-star"></i>
            <div data-i18n="Analytics">Öne Çıkanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-star"></i>
            <div data-i18n="Analytics">Öne Çıkanlar 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-transfer-alt"></i>
            <div data-i18n="Analytics">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-mail-send"></i>
            <div data-i18n="Analytics">Mail Listesi</div>
        </a>
    </li>
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Şifre ve Rol İşlemleri</span>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-sync"></i>
            <div data-i18n="Analytics">Roller</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-log-out"></i>
            <div data-i18n="Analytics">Çıkış Yap</div>
        </a>
    </li>
    <!-- Layouts -->
    <!-- Layouts -->
    <!-- Layouts -->




</ul>