
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları Sayfası</h1>
<br />
<a href="/Excel/StaticExcelReport/" class="btn btn-info">Static Excel Raporları</a>
<br /><br />
<a href="/Excel/DestinationExcelReport/" class="btn btn-primary">Tur Rotaları Static Excel Raporları</a>

